.header {
  display: flex;
  gap: 20px;
  padding: 15px;
  background-color: rgb(41, 71, 153);
  justify-content: center;
}

.link {
  & img {
    height: 40px;
  }

  &__logout {
    cursor: pointer;
    & img {
      width: 40px;
      height: 40px;
    }
  }
}
