.header {
  display: flex;
  gap: 20px;
  padding: 15px;
  background-color: rgb(41, 71, 153);
  justify-content: center;
}

.link {
  position: relative;
  & img {
    height: 40px;
  }

  &__logout {
    cursor: pointer;
    & img {
      width: 40px;
      height: 40px;
    }

    &:hover {
      scale: 1.2;
    }
  }

  &__name {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
  }

  &:hover {
    scale: 1.2;
  }
}
