.container {
  background: url(./../../../static/images/BG_pokemons.jpg) center center;
  height: 1000px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;

  & h1 {
    color: white;
    padding: 40px 0 45px 0;
    width: 546px;
    margin: 0 auto;
  }
}
