.wrapper {
  width: 400px;
  text-align: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(12, 29, 152),
    rgb(26, 215, 221),
    rgb(115, 129, 34)
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(12, 29, 152),
    rgb(26, 215, 221),
    rgb(115, 129, 34)
  );
  background: linear-gradient(
    45deg,
    rgb(12, 29, 152),
    rgb(26, 215, 221),
    rgb(115, 129, 34)
  );
  border: 1px solid black;
  border-radius: 40px;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 10px 5px 5px black;
  }

  & img {
    height: 150px;
  }

  & h2 {
    font-weight: 700;
    font-size: 24px;
    color: #313037;
    text-transform: uppercase;
  }

  & p {
    font-size: 22px;
    color: #313037;
  }
}
